---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Map">
  <div class ="frame">
    <main class="hero">
      <h1>Isaac Ericsson</h1>

      <p>
       Welcome to the fortune teller!
      </p>

      <pre class="ascii-map">
            , ` , `|[?] [ ] , `  
        ( * , ` , ` , ` [ ] ( * , `
        , ` , ` , ` , ` [ ] , ` [#]
        , ` [ ] [ ] [ ] [?] [ ] [ ]
        [?] [ ] , ` , ` [ ] , ` , ` 
        , ` , ` , ` , ` [ ] , ` , `
            , ` , ` ; ; [ ] [?]
      </pre>

      <div class="term-wrap"> 
        <div id="terminal"></div>
      </div>


      <script>
        import "../scripts/terminal.js";
      </script>

    </main>
  </div>
</Layout>
