---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Map">
  <div class ="frame">
    <main class="hero">
      <h1>Isaac Ericsson</h1>

      <p>
       As you enter the smaller pale purple tent the air stills. On a small
       oak table in the center sits a crystal ball coated in frost. The
       inside of the tent is pitch black and looking up you see what could be
       a pattern of constallations or start however as you blink it gets
       difficult to distinguish from the tent. You get both the feeling that 
       someone was just here and that you are being watched.
      </p>

      <pre class="ascii-map">
            , ` , `|[?] [ ] , ` , `
        ( * , ` , ` , ` [ ] ( * , ` , `
        , ` , ` , ` , ` [ ] , ` [ ] [#]
        , ` [ ] [ ] [ ] [?] [ ] [ ] [ ]
        [?] [ ] , ` , ` [ ] , ` , ` , `
        , ` , ` , ` , ` [ ] , ` , ` , `
            , ` , ` ; ; [ ] [?] , `
      </pre>

      <div class="term-wrap"> 
        <div id="terminal"></div>
      </div>


      <script>
        import "../scripts/terminal.js";
      </script>

    </main>
  </div>
</Layout>
