---
import Layout from '../layouts/Layout.astro';
---

This page will feature A short paragraph description, describing the room. Plan to have pupleish twilight background with blinking stars.
<Layout title="About">
  <h1>About me</h1>
  <p>…</p>
  <a href="/">Back home</a>
</Layout>