---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Map">
  <main class="hero">
    <h1>Isaac Ericsson</h1>

    <p>
      This page can be opened from any other page and features an ASCII map of where you may want to go.
    </p>

    <p>
      I am a Computer Science student at Cal Poly San Luis Obispo. I enjoy
      reading, playing D&amp;D, and sailing while learning about programming.
      Currently I am learning about Data Engineering and programming in R,
      though I am also interested in learning more about AI and Machine Learning.
    </p>

    <h2>Pages</h2>

    <nav>
      <a href="/about">About</a>
    </nav>
  </main>
</Layout>
