<layout>
    <main class="hero">


    <p>
    This page can be opened from any other page and features an ASCII map of where you may want to go.
    </p>

    <h1>Isaac Ericsson</h1>




    <p>I am a Computer Science student at Cal Poly San Luis Obsipo. I enjoy


    <p>I am a Computer Science student at Cal Poly San Luis Obispo. I enjoy

	reading, playing D&D, and sailing, while learning about programming.



	Currently I am learning about Data Engineering and programming in R,

	though I am also interested in learning more about AI and Machine Learning.</p>




	<h1>Pages</h1>


	<h2>Pages</h2>



    <nav>

      <a href="/about">About</a>

    </nav>

  </main>

</Layout>


<style>


</style>

