---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <main>
    <h1>Isaac’s Site</h1>
    <p>Built with Astro + GitHub Pages.</p>

    <nav>
      <a href="/about">About</a>
	   <a href="/info">About</a>
    </nav>
  </main>
</Layout>
