---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <main>
    <h1>Isaac Ericsson</h1>

    <p>Just a little bit of info about me! "Lorem ipsum dolor sit amet, consectetur 
	adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
	ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse c
	illum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
	 sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

	<h1>Pages</h1>

    <nav>
      <a href="/about">About</a>
    </nav>
  </main>
</Layout>
