---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Map">
  <div class ="frame">
    <main class="hero">
      <h1>The Circus</h1>

      <p>
        A large black and white tent looms over as you breathe in the rich
        smell of buttered popcorn. Inside you hear the riotous roar of laughter
        and hear the honking of distant horns. If only you knew where the
        enterance was you could perhaps join the fun? A sign hangs nearby on
        a gnarled old tree barren of leaves.
      </p>

      <pre class="ascii-map">
            , ` , `|[?] [ ] , ` , `
        ( * , ` , ` , ` [ ] ( * , ` , `
        , ` , ` , ` , ` [ ] , ` [ ] [?]
        , ` [ ] [ ] [ ] [#] [ ] [ ] [ ]
        [?] [ ] , ` , ` [ ] , ` , ` , `
        , ` , ` , ` , ` [ ] , ` , ` , `
            , ` , ` ; ; [ ] [?] , `
      </pre>

      <div class="term-wrap">
        <div class="term-pad">
          <div id="terminal"></div>
        </div>
      </div>

      <script>
        import "../scripts/terminal.js";
      </script>

    </main>
  </div>
</Layout>
