---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <main class="hero">
    <h1>Isaac Ericsson</h1>

    <p>I am a Computer Science student at Cal Poly San Luis Obsipo. I enjoy
	reading, playing D&D, and sailing, while learning about programming.
	
	Currently I am learning about Data Engineering and programming in R,
	though I am also interested in learning more about AI and Machine Learning.</p>

	<h1>Pages</h1>

    <nav>
      <a href="/about">About</a>
    </nav>
  </main>
</Layout>
<style>
</style>

