---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <main class="hero">
    <h1>Isaac Ericsson</h1>

    <p>I am a Computer Science student at Cal Poly San Luis Obispo. I enjoy
	reading, playing D&D, learning card games, and sailing while learning about programming.
	
	Currently I am learning about Data Engineering and programming in R,
	though I am also interested in learning more about AI and Machine Learning.</p>

	<h2>Pages</h2>

    <nav>
      <a href="/fortune-tellers">About</a>
    </nav>
  </main>
</Layout>

